/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #f5913b;
  --color-secondary: #c28855;
  --color-brown: #8f735b;
  --color-grey: #5c544d;
  --color-black: #332c27;

  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  height: 100svh;
  gap: 1.5rem;
}

.gallery__image-background {
  border-radius: 0 2rem 2rem 0;
}

/* ========== HEADER ========== */
.gallery__container-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1.5rem;
  padding-right: 1.5rem;
}

.gallery__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.gallery__image-icon {
  font-size: x-large;
  color: var(--color-secondary);
}

.gallery__list-categories {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.gallery__category {
  position: relative;
  border: none;
  padding: 0.6rem 2rem;
  color: var(--color-primary);
  font-size: 0.75rem;
  font-weight: 600;
  background-color: #fff;
  cursor: pointer;
}

.gallery__category--active {
  background-color: #f4f1ee;
}

.gallery__category::before,
.gallery__category::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 60%;
  transition:
    width 0.3s,
    height 0.3s,
    background-color 0.3s;
}

.gallery__category::before {
  top: 0;
  left: 0;
  border-top: 2px solid var(--color-black);
  border-left: 2px solid var(--color-black);
}

.gallery__category::after {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid var(--color-black);
  border-right: 2px solid var(--color-black);
}

.gallery__category:hover::before,
.gallery__category:hover::after,
.gallery__category--active::before,
.gallery__category--active::after {
  width: 98%;
  height: 90%;
}

/* ========== MAIN ========== */
main {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.gallery__search {
  display: block;
  background-color: rgb(245, 245, 245);
  width: 60%;
  padding: 0 0.5rem;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}

.fa-magnifying-glass {
  cursor: pointer;
}

.gallery__input-search {
  padding: 0;
  border: none;
  height: 40px;
  width: 94%;
  background: none;
  font-size: 14px;
}

.gallery__input-search:focus {
  outline: none;
}

.gallery__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 0 1rem;
  scrollbar-width: thin;
  scrollbar-color: var(--color-secondary) transparent;
}

.gallery__card {
  width: 100%;
}

.gallery__image {
  max-width: 100%;
  border-radius: 1rem;
}

/* ========== FOOTER ========== */
.gallery__footer {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__footer-paragraph {
  text-align: center;
  font-weight: bold;
  color: var(--color-primary);
}

/* ========== MODAL ========== */
.modal {
  position: absolute;
  z-index: 1;
  background-color: rgb(123 123 123 / 90%);
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.modal__close {
  position: absolute;
  top: 3%;
  right: 2%;
  font-size: xx-large;
  cursor: pointer;
  color: #fff;
}

.modal__close:hover {
  color: rgba(255, 255, 255, 0.6);
}

.modal__arrow-left,
.modal__arrow-right {
  padding: 1rem;
  background-color: #fff;
  color: var(--color-primary);
  border: 1px solid var(--color-black);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.modal__arrow-left:hover,
.modal__arrow-right:hover {
  background: #dbdbdb;
}

.modal__box {
  max-width: 40%;
}

.modal__box img {
  width: 100%;
  max-height: 85svh;
  object-fit: contain;
  border-radius: 1rem;
}

.is-hidden {
  display: none;
}

@media (max-width: 1366px) {
  .gallery__category {
    padding: 0.6rem 1rem;
    font-size: 0.6rem;
  }

  .gallery__search {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .gallery__image-background {
    display: none;
  }

  .gallery__container-content {
    padding: 0 1.5rem;
  }
}

@media (max-width: 768px) {
  .gallery__image-icon {
    padding-bottom: 1rem;
  }

  .gallery__list-categories {
    overflow-x: auto;
    gap: 1.5rem;
    padding-bottom: 1rem;
    scrollbar-width: thin;
    scrollbar-color: var(--color-secondary) transparent;
  }

  .gallery__search {
    width: 100%;
  }

  .gallery__footer-paragraph {
    font-size: 0.55rem;
  }

  .modal__arrow-left,
  .modal__arrow-right {
    height: 1rem;
    width: 1rem;
    padding: .5rem;
  }
  
  .modal__box {
    max-width: 60%;
  }
}
